<h1>Listing walks</h1>

<table>
  <thead>
    <tr>
      <th>Start</th>
      <th>Distance</th>
      <th>Calories</th>
      <th>Speed</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @walks.each do |walk| %>
      <tr>
        <td><%= walk.start %></td>
        <td><%= walk.distance %></td>
        <td><%= walk.calories %></td>
        <td><%= walk.speed %></td>
        <td><%= walk.user_id %></td>
        <td><%= link_to 'Show', walk %></td>
        <td><%= link_to 'Edit', edit_walk_path(walk) %></td>
        <td><%= link_to 'Destroy', walk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Walk', new_walk_path %>
